/* RESETS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* GLOBAL */

body {
  width: 100vw;
  height: 100vh;
  background-color: #1F1F1F;
  font-family: Montserrat, sans-serif;
  text-align: center;
  color: #0F0F0F;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: default;
}

.container {
  margin-bottom: 30px;
  width: 500px;
  height: 550px;
  background-color: #F9F9F9;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
}

h1 {
  padding-top: 50px;
  margin-bottom: 25px;
  font-size: 1.8rem;
}

/* NOTIFICATION */
#notification {
  display: none;
  width: 100%;
  padding: 10px 0;
  color: #990000;
  background-color: #FF9797;
  font-size: 1.4rem;
}

/* WEATHER INFO */

#icon img {
  width: 200px;
}

#temperature {
  font-size: 3.5rem;
  width: 130px;
  align-self: center;
  margin-bottom: 20px;
  cursor: pointer;
}

#temperature span {
  font-size: 2.5rem;
}

#description {
  font-size: 1.4rem;
  margin-bottom: 10px;
}

#location {
  font-size: 0.9rem;
}

/* DARK MODE BUTTON */
#mode-btn {
  width: 120px;
  height: 30px;
  font-size: 0.9rem;
  color: #f9f9f9;
  background-color: #0FBAF0;
  outline: none;
  border: none;
  border-radius: 15px;
  cursor: pointer;
}

#mode-btn:active {
  background-color: #009DCE;
}